<form action="/user/update/<%= user.id %>" method="POST" class="form-signin" >
    <h2>User edit</h2>

    <input value="<%= user.name %>" type="text" class="form-control" placeholder="your name" name="name" />
    <input value="<%= user.title %>" type="text" class="form-control" placeholder="your title" name="title" />
    <input value="<%= user.email %>" type="text" class="form-control" placeholder="email address" name="email" />

    <% if(session.authenticated && session.User.admin) { %>
        <% if(user.admin){ %>
            <label for="" class="checkbox"><input type="checkbox" name="admin"  class="checkbox"  value="true" checked>Admin</label>
        <% } else { %>
            <label for="" class="checkbox"><input type="checkbox" name="admin"  class="checkbox" value="true" >Admin</label>
        <% } %>
    <% } %>

    <input type="submit" class="btn btn-lg btn-primary btn-blovk" value="Proceed" />
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>