<form action="/user/create" method="POST" class="form-signin" >
    <h2 class="form-signin-heading">Create an account</h2>

    <% if( flash && flash.err ){ %>
    <ul class="alert alert-success">
        <% Object.keys(flash.err).forEach(function(error){ %>
        <li><%- JSON.stringify(flash.err[error]) %></li>
        <% }); %>
    </ul>
    <% } %>

    <input type="text" class="form-control" placeholder="your name" name="name" />
    <input type="text" class="form-control" placeholder="your title" name="title" />
    <input type="text" class="form-control" placeholder="email address" name="email" />
    <input type="password" class="form-control" placeholder="password" name="encryptedPassword" />
    <input type="password" class="form-control" placeholder="password confirmation" name="confirmation" />

     <label for="" class="checkbox"><input type="checkbox" name="admin" value="true" class="checkbox" >Admin</label>
    <input type="submit" class="btn btn-lg btn-primary btn-blovk" value="Create Account" />
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>